
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: rgb(244, 91, 91);
    color: rgb(68, 0, 0);
    
}
h1{
   font-family: 'Almendra', Times, serif;
}
h1#principal{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
}
h2.HTML {
    background-color: beige;
}
h2.CSS {
    background-color: rgb(211, 223, 153);
}
h1:hover{
    background-color: blue;
}